<!DOCTYPE html>
<html>
<head>
    <title>Vehicle Inventory App</title>
</head>
<body>

<h1>Vehicle Inventory Cloud Test Application</h1>

<p>Welcome to the Vehicle Inventory Management System.</p>

<a href="/vehicles">View Vehicles</a>

<br><br>

<a href="/add-vehicle">Add Vehicle</a>

</body>
</html>